<p>ステージ一覧</p>
<table class="table table-hover table-inverse">
    <thead>
        <tr>
            <th>ステージID</th>
            <th>ステージ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @stages.each do |stage| %>
            <tr>
                <td>
                    <%= stage.id %>
                </td>
                <td>
                    <%= display_stage(stage.board) %>
                </td>
                <td>
                    <%= link_to "編集する", stage_path(stage.id) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "New Stage", new_stage_path, class: "btn btn-primary" %>